
/* ====Product==== */
.Product .col-sm-9 {
    position: initial;
}
.Product .ph-item{
    border: none;
}
.Product .ph-item .ph-picture{
    height: 350px;
}
.Product .get{
    margin-bottom: 23px;
    margin-top: 0;
}
/* single product class */
.single-products{
    cursor: pointer;
}
 /* ====DetialsProduct==== */
.DetialsProduct .ph-item {
    padding: 0;
    border: none;
    margin-bottom: 0;
}
.DetialsProduct .ph-item .h350{
    height: 350px;
}

.DetialsProduct .h50{
    height: 50px;
}
 /* ====End DetialsProduct==== */
/* ===order product=== */
.order .cart_product img{
    max-width:110px;
    max-height: 110px;
}
/* ===end order product=== */
/* ===css loader start=== */
.LoaderContainer{
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100vh;
}
.lds-ripple {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #FFC107;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
/* ===css loader start end=== */
/* ===Error class=== */
.ErrorInput{
    border: 1px solid rgba(255, 107, 95, 0.27) !important;
}

















/* Responsive */
@media only screen and (max-width: 991px) {
    .Product .ph-item .ph-col-4{
        flex: 0 0 50%;
    }
}
@media only screen and (max-width: 767px) {
    .Product .ph-item .ph-col-4{
        flex: 0 0 100%;
    }
}
/* Responsive end*/